/*********************
    Header styles
**********************/



/*********************
    Main styles
**********************/
.bg-red-2 {
  height: 320px;
  padding: 10px;
}
.incr-size a{
  color: white;
  text-decoration: none;
}
/* also has text-align justify*/
.change-font-size p{
  font-size: 13px;
  text-align: justify;
}
.style {
  list-style-type: none;
  padding: 0px;
}
.style li a img {
  width: 100%;
  height: 79px;
}
.style li {
  margin-top: 5px;
  margin-bottom: 10px;
}
.style li a{
  color: white;
}
.style li a:hover {
  color: white;
  font-weight: bold;
  font-size: 108%;
  text-decoration: none;
}
#change-font {
  margin-top: 0px;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
}
#change-font a:hover{
  font-size: 100%;
}
.below-img-link {
  color: white;
  font-size: 12px;
}
.below-img-link:hover {
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.img-style-1 {
  height: 85px;
  width: 235px;
  margin-right: 10px;
  margin-bottom: 25px;
}
.img-style-2 {
  height: 85px;
  width: 235px;
  margin-left: 10px;
  margin-bottom: 25px;
}

/*********************
    Footer styles
**********************/
